#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  background-image: url("https://images.pexels.com/photos/2130133/pexels-photo-2130133.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}
